body {
  background-color: rgb(2, 10, 21);
  /* background-image: url("/Milky_Way_Galaxy.jpg"); */
}

footer {
  color: white;
  bottom: 0px;
}

@font-face {
  font-family: 'ImperialFont';
  src: url('/fonts/CaslonAntique.woff');
}
@font-face {
  font-family: 'ImperialFontBold';
  src: url('/fonts/CaslonAntique-Bold.woff');
}
@font-face {
  font-family: 'ImperialFontItalic';
  src: url('/fonts/CaslonAntique-Italic.woff');
}
@font-face {
  font-family: 'ImperialFontBoldItalic';
  src: url('/fonts/CaslonAntique-BoldItalic.woff');
}

/************************************/

#container {
  display: flex;
  flex-direction: row;
}

/************************************/

#map-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: inline-block;
  min-width: 1200px;
  min-height: 1000px;
  background-image: url("/Milky_Way_Galaxy_old.jpg");
  background-size: cover;
  background-position: center;
}

#map {
}

#map canvas {
  position: absolute;
  left: 0px;
  right: 0px;
}

#zone-info {
  position: absolute;
  /* original */
  /* width: 416px;
  height: 243px; */

  /* 0.8 */
  width: 332px;
  height: 194px;
  pointer-events: none;
}

#zone-info .border {
  background: url("/info_border.png") no-repeat;
  background-size: contain;
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 1;
}

#zone-info .backdrop {
  position: absolute;
  margin-top: 10px;
  margin-left: 5px;
  width: 317px;
  height: 178px;
  z-index: 0;
  background-color: rgba(40,44,54,.9);
}

#zone-info .content {
  width: inherit;
  height: inherit;
  position: absolute;
  color: white;
  margin-left: 10px;
  z-index: 2;
}

#zone-info .content h3 {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 30px;
  font-family: "ImperialFontBoldItalic";
}

#zone-info .faction {
  font-family: "ImperialFontBold";
  margin-left: 10px;
  font-size: 25px;
}

#zone-info .content .zone-info {
  display: inline-block;
  font-size: 18px;
}

#zone-info .content .zone-info .label {
  font-family: "ImperialFontBold";
  margin-left: 15px;
  float: left;
}

#zone-info .content .zone-info .value {
  font-family: "ImperialFont";
  margin-left: 10px;
  float: right;
}

/************************************/

#history-panel {
  width: 20%;
  height: 100%;
  display: inline-block;
  color: white;
}

#history-panel ul {
  list-style-type: none;
}
