body {
  background-color: rgb(2, 10, 21);
  /* background-image: url("/Milky_Way_Galaxy.jpg"); */
}

footer {
  color: white;
  bottom: 0px;
}

@font-face {
  font-family: 'ImperialFont';
  src: url('/fonts/CaslonAntique.woff');
}
@font-face {
  font-family: 'ImperialFontBold';
  src: url('/fonts/CaslonAntique-Bold.woff');
}
@font-face {
  font-family: 'ImperialFontItalic';
  src: url('/fonts/CaslonAntique-Italic.woff');
}
@font-face {
  font-family: 'ImperialFontBoldItalic';
  src: url('/fonts/CaslonAntique-BoldItalic.woff');
}

/************************************/

#container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/************************************/

#map-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: inline-block;
  min-width: 1200px;
  min-height: 1000px;
  background-image: url("/Milky_Way_Galaxy_old.jpg");
  background-size: cover;
  background-position: center;
}

#map {
  /* flex-shrink: 0;
  width: 1200px;
  height: 1000px; */
}

/* #map img {
  width:100%;
  height:100%;
  position: absolute;
  left: 0px;
  right: 0px;
} */

#map canvas {
  position: absolute;
  left: 0px;
  right: 0px;
}

#zone-info {
  position: absolute;
  /* original */
  /* width: 416px;
  height: 243px; */

  /* 0.8 */
  width: 332px;
  height: 194px;
  pointer-events: none;
}

#zone-info .border {
  background: url("/info_border.png") no-repeat;
  background-size: contain;
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 1;
}

#zone-info .backdrop {
  position: absolute;
  margin-top: 10px;
  margin-left: 5px;
  width: 317px;
  height: 178px;
  z-index: 0;
  background-color: rgba(40,44,54,.9);
}

#zone-info .content {
  width: inherit;
  height: inherit;
  position: absolute;
  color: white;
  margin-left: 10px;
  z-index: 2;
}

#zone-info .content h3 {
  margin-top: 15px;
  margin-left: 15px;
  font-size: 30px;
  font-family: "ImperialFontBoldItalic";
}

#zone-info .content p {
  font-family: "ImperialFont";
}

/************************************/

.wrapper {
border-image: linear-gradient(red, blue) 27;
}
#history-panel {
  width: 100%;
  height: 100%;
  display: inline-block;
  color: white;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.campaign-history-row {
  display: grid;
  grid-template-areas:
    'history-header history-header history-header history-header'
    'banner1 banner2 history-info history-info'
    'banner1 banner2 history-info history-info'
    'banner1 banner2 history-info history-info';
  grid-column-gap: 10px;
  grid-template-columns: minmax(50px, 125px) minmax(50px, 125px) minmax(100px, 1fr);
  margin-bottom: 20px;
}

.history-header {
  font-size: 30px;
  font-family: "ImperialFontBoldItalic";
  grid-area: history-header;
}
.banner1 {
  min-height: 280px;
  grid-area: banner1;
}
.banner2 {
  min-height: 280px;
  grid-area: banner2;
}
.grey {
  filter: grayscale();
}
.history-info {
  grid-area: history-info;
  display: flex;
  flex-direction: column;
}
