body {
  background-color: rgb(2, 10, 21);
  background-image: url("/campaign-map.jpg");
  background-size: cover;
}

footer {
  color: white;
  bottom: 0px;
}

/************************************/

#container {
  display: flex;
  flex-direction: row;
}

/************************************/

#map-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: inline-block;
  width: 80%;
}

#map {
  /* flex-shrink: 0;
  width: 1200px;
  height: 1000px; */
}

/* #map img {
  width:100%;
  height:100%;
  position: absolute;
  left: 0px;
  right: 0px;
} */

#map canvas {
  position: absolute;
  left: 0px;
  right: 0px;
}

/************************************/

#history-panel {
  width: 20%;
  height: 100%;
  display: inline-block;
  color: white;
}

#history-panel ul {
  list-style-type: none;
}
